<% content_for :page_title, "Edit - " << @user.name %>
<div class="columns">
    <div class="column is-8 is-offset-2">
      <div class="card">
        <div class="card-content">
          <div class="column is-6 is-offset-3">

            <button class="button is-primary is-fullwidth is-medium is-outlined" onclick="userdetails()">User Details</button>
            <br>
            <div id="userdetail" style="display: none;">
              <br>
              <%= render 'form', user: '@user' %><br>
            </div>

            <!-- Basicinfo Block -->
            <button class="button is-primary is-fullwidth is-medium is-outlined" onclick="basicinfos()">Basic Info</button>
            <br>
            <div id="basicinfo" style="display: none;">
              <br><%= render 'basicinfos/edit', basicinfo: @user.basicinfo %><br>
            </div>

            <!-- Department Block -->
            <button class="button is-primary is-fullwidth is-medium is-outlined" onclick="departments()">Department</button>
            <br>
            <div id="department" style="display: none;">
              <br><%= render 'departments/edit', department: @user.department %><br>
            </div>

            <!-- Emergency Info Blocks -->
            <button class="button is-primary is-fullwidth is-medium is-outlined" onclick="emergencycontacts()">Emergency Contact</button>
            <br>
            <div id="emergencycontact" style="display: none;"><% i=1 %>
              <br><% @user.emergencyinfos.each do |e| %>
                    <label class="label">Emergency Contact <%= i %><% i+=1 %></label>
                    <%= render 'emergencyinfos/edit', emergencyinfo: e %><br>
                  <% end %>
                  <button class="button is-rounded" onclick="contacts()"><span class="icon">
                    <i class="fa fa-plus-circle"></i></span>
                    <span id="temp">Add Contact</span>
                  </button><br>
                  <div id="contact" style="display: none;">
                    <br><%= render 'emergencyinfos/new', emergencyinfo: @user.emergencyinfos.build, id: @user.id %>
                  </div><br>
            </div>

            <!-- Skills Block -->
            <button class="button is-primary is-fullwidth is-medium is-outlined" onclick="skills()">Skills</button>
            <br>
            <div id="skill" style="display: none;">
              <br><% @user.skills.each do |e| %>
                    <%= render 'skills/edit', skill: e, id: @user.id %><br>
                  <% end %>
                  <button class="button is-rounded" onclick="tempskills()"><span class="icon">
                    <i class="fa fa-plus-circle"></i></span>
                    <span id="temp1">Add Skill</span>
                  </button><br>
                  <div id="tempskill" style="display: none;">
                    <br><%= render 'skills/new', skill: @user.skills.build, id: @user.id %>
                  </div><br>
            </div>

            <!-- Accounts Block -->
            <button class="button is-primary is-fullwidth is-medium is-outlined" onclick="accinfos()">Account Details</button>
            <br>
            <div id="accinfo" style="display: none;">
              <br><% @user.accinfos.each do |e| %>
                    <%= render 'accinfos/edit', accinfo: e, id: @user.id %><br>
                  <% end %>
                  <button class="button is-rounded" onclick="tempaccinfos()"><span class="icon">
                    <i class="fa fa-plus-circle"></i></span>
                    <span id="temp2">Add Account details</span>
                  </button><br>
                  <div id="tempaccinfo" style="display: none;">
                    <%= render 'accinfos/new', accinfo: @user.accinfos.build, id: @user.id %>
                  </div><br>
            </div>
            <div class="field is-grouped">
              <p class="buttons">
                <% if current_user.has_role?(:admin) %>
                <%= link_to root_path, class: "button is-dark" do %>
                  <span class="icon">
                    <i class="fa fa-home"></i>
                  </span>
                  <span>Home</span>
                <% end %>
                <% end %>
                <%= link_to user_path(@user), class: "button is-info" do %>
                  <span class="icon">
                    <i class="fa fa-pencil"></i>
                  </span>
                  <span>Show</span>
                <% end %>
                <%= link_to user_path(@user), class: "button is-danger is-outlined", method: :delete, data: {confirm: "Are you sure you want to remove " << @user.name << "?"} do %>
                  <span class="icon">
                    <i class="fa fa-trash"></i>
                  </span>
                  <span>Delete</span>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>

<script>

function userdetails() {
  var x = document.getElementById("userdetail");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function basicinfos() {
  var x = document.getElementById("basicinfo");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function departments() {
  var x = document.getElementById("department");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}


function emergencycontacts() {
  var x = document.getElementById("emergencycontact");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function contacts() {
  var x = document.getElementById("contact");
  var y = document.getElementById("temp");
  if (x.style.display === "none") {
    x.style.display = "block";
    y.innerHTML = "Remove Contact";
  } else {
    x.style.display = "none";
    y.innerHTML = "Add Contact";
  }
}

function skills() {
  var x = document.getElementById("skill");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function tempskills() {
  var x = document.getElementById("tempskill");
  var y = document.getElementById("temp1");
  if (x.style.display === "none") {
    x.style.display = "block";
    y.innerHTML = "Remove Skill";
  } else {
    x.style.display = "none";
    y.innerHTML = "Add Skill";
  }
}

function accinfos() {
  var x = document.getElementById("accinfo");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function tempaccinfos() {
  var x = document.getElementById("tempaccinfo");
  var y = document.getElementById("temp2");
  if (x.style.display === "none") {
    x.style.display = "block";
    y.innerHTML = "Remove Account details";
  } else {
    x.style.display = "none";
    y.innerHTML = "Add Account details";
  }
}

</script>
