<div class="columns is-multiline is-mobile">
  <% @users.each do |u| %>

    <div class="column is-4">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <% if u.basicinfo && u.basicinfo.avatar.attached? %>
                  <%= image_tag u.basicinfo.avatar %>
                <% else %>
                  <img src="https://bulma.io/images/placeholders/128x128.png" alt="Placeholder image">
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <br>
              <p class="title is-4">
                <%= link_to user_path(u) do %>
                  <%= u.name %>
                <% end %>
              </p>
              <p class="subtitle is-6"><%= u.basicinfo.empid unless u.basicinfo.nil? %></p>
            </div>
          </div>

          <div class="content">
            <p class="control has-text-left is-size-6 has-icons-left">
              <span><i class="fa fa-envelope" aria-hidden="true"></i></span> &nbsp;&nbsp;
              <span><a style="color:#696969;" href="mailto: <%= u.email %>"><%= u.email %></a></span><br>
              <% if u.basicinfo && u.basicinfo.contact!="" %>
              <span><i class="fa fa-phone" aria-hidden="true"></i></span> &nbsp;&nbsp;
              <span><a style="color:#696969;" href="tel: <%= u.basicinfo.contact %>"><%= u.basicinfo.contact %></a></span><br>
              <% end %>
            </p>
          </div>
        </div>
        <footer class="card-footer">
          <a href="<%= user_path(u) %>" class="card-footer-item">Show</a>
          <a href="<%= edit_user_path(u) %>" class="card-footer-item">Edit</a>
          <%= link_to user_path(u), class: "card-footer-item", method: :delete, data: {confirm: "Are you sure you want to remove " << u.name << "?"} do %>
            Delete
          <% end %>
        </footer>
      </div>
    </div>

  <% end %>
</div>
