<% user = User.find(params[:id]) %>
<% content_for :page_title, user.name %>
<div class="card">
  <div class="card-content">

    <button class="button is-white is-medium is-outlined" onclick="basicinfos()">
      <span class="icon" style="color:dimgray;"><i class="fa fa-plus" aria-hidden="true"></i></span>
      <span><p style="color:black;" class="is-size-4 has-text-weight-medium	">User Details</p></span>
    </button>

    <div id="basicinfo" style="display: block;">
      <div class="card">
        <div class="card-content">
            <% if Uploadable.count != 0 %>
              <% if user.basicinfo && user.basicinfo.avatar.attached? %>
                <figure class="image is-128x128">
                  <%= image_tag user.basicinfo.avatar %>
                </figure>
              <% end %>
            <% else %>
              <% unless user.basicinfo.avatar_url=='' || user.basicinfo.avatar_url.nil? %>
                <figure class="image is-128x128">
                  <img src="<%= user.basicinfo.avatar_url %>" alt="">
                </figure>
              <% end %>
            <% end %>
            <table class="table is-striped is-hoverable">
              <tbody>
                <tr>
                  <th>Name</th>
                  <td><%= user.name %></td>
                  <th>Employee id</th>
                  <td><%= user.basicinfo.empid %></td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td><%= user.email %></td>
                  <th>Contact</th>
                  <td><%= user.basicinfo.contact %></td>
                </tr>
                <tr>
                  <th>Date of birth</th>
                  <td><%= user.basicinfo.dob %></td>
                  <th>Contact</th>
                  <td><%= user.basicinfo.doj %></td>
                </tr>
                <tr>
                  <th>Gender</th>
                  <td><%= user.basicinfo.gender %></td>
                  <th>Blood type</th>
                  <td><%= user.basicinfo.bloodtype %></td>
                </tr>
                <tr>
                  <th>Adrress</th>
                  <td colspan="3"><%= user.basicinfo.address %>, <%= user.basicinfo.city %>, <%= user.basicinfo.state %>, <%= user.basicinfo.country %> - <%= user.basicinfo.pincode %></td>
                </tr>
                <tr>
                  <th>Department</th>
                  <td><%= user.department.department %></td>
                  <th>Designation</th>
                  <td><%= user.department.designation %></td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div><br>

    <button class="button is-white is-medium is-outlined" onclick="emergencyinfos()">
      <span class="icon" style="color:dimgray;"><i class="fa fa-plus" aria-hidden="true"></i></span>
      <span><p style="color:black;" class="is-size-4 has-text-weight-medium	">Emergency Contacts</p></span>
    </button>

    <div id="emergencyinfo" style="display: none;">
      <% user.emergencyinfos.each do |e| %>
        <div class="card">
          <div class="card-content">
            <table class="table is-striped is-hoverable">
              <tbody>
                <tr>
                  <th>Name</th>
                  <td><%= e.name %></td>
                  <th>Contact</th>
                  <td><%= e.contact %></td>
                </tr>
                <tr>
                  <th>Relation</th>
                  <td colspan="3"><%= e.relation %></td>
                </tr>
                <tr>
                  <th>Adrress</th>
                  <td colspan="3"><%= e.address %>, <%= e.city %>, <%= e.state %>, <%= e.country %> - <%= e.pincode %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div><br>
      <% end %>
    </div><br>

    <button class="button is-white is-medium is-outlined" onclick="skills()">
      <span class="icon" style="color:dimgray;"><i class="fa fa-plus" aria-hidden="true"></i></span>
      <span><p style="color:black;" class="is-size-4 has-text-weight-medium	">Skills</p></span>
    </button>

    <div id="skill" style="display: none;">
      <div class="card">
        <div class="card-content">
          <table class="table is-striped is-hoverable">
            <tbody>
              <% user.skills.each do |e| %>
                <tr>
                  <th>Skill</th>
                  <td><%= e.skill %></td>
                  <th>Experience in years</th>
                  <td><%= e.experience %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div><br>

    <button class="button is-white is-medium is-outlined" onclick="accounts()">
      <span class="icon" style="color:dimgray;"><i class="fa fa-plus" aria-hidden="true"></i></span>
      <span><p style="color:black;" class="is-size-4 has-text-weight-medium	">Account Details</p></span>
    </button>

    <div id="account" style="display: none;">
      <div class="card">
        <div class="card-content">
            <% user.accinfos.each do |e| %>
              <table class="table is-striped is-hoverable">
                <tbody>
                  <tr>
                    <th>Name as in bank</th>
                    <td colspan="3"><%= e.name %></td>
                  </tr>
                  <tr>
                    <th>Account Number</th>
                    <td><%= e.accno %></td>
                    <th>Bank</th>
                    <td><%= e.bank %></td>
                  </tr>
                  <tr>
                    <th>IFSC code</th>
                    <td><%= e.ifsc %></td>
                    <th>Branch</th>
                    <td><%= e.branch %></td>
                  </tr>
                </tbody>
              </table>
            <% end %>
        </div>
      </div>
    </div>
    <br><br>
    <div class="columns">
      <div class="column is-4">
        <div class="field is-grouped">
          <p class="buttons">
            <%= link_to url_for(:back), class: "button is-dark" do %>
              <span class="icon">
                <i class="fa fa-arrow-left"></i>
              </span>
              <span>Back</span>
            <% end %>
            <%= link_to root_path, class: "button is-light" do %>
              <span class="icon">
                <i class="fa fa-home"></i>
              </span>
              <span>Home</span>
            <% end %>
            <%= link_to edit_user_path(user), class: "button is-info" do %>
              <span class="icon">
                <i class="fa fa-pencil"></i>
              </span>
              <span>Edit</span>
            <% end %>
            <%= link_to user_path(user), class: "button is-danger is-outlined", method: :delete, data: {confirm: "Are you sure you want to remove " << user.name << "?"} do %>
              <span class="icon">
                <i class="fa fa-trash"></i>
              </span>
              <span>Delete</span>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  function basicinfos() {
    var x = document.getElementById("basicinfo");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  function emergencyinfos() {
    var x = document.getElementById("emergencyinfo");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  function skills() {
    var x = document.getElementById("skill");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  function accounts() {
    var x = document.getElementById("account");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>

<style media="screen">
  table {
  table-layout: fixed ;
  width: 100% ;
}
td th {
  width: 25% ;
}
</style>
