<%= form_for department do |f| %>

    <div class="field">
      <%= f.label :department, class: 'label' %>
      <p class="control has-icons-left">
        <%= f.text_field :department, wrapper: false, class: 'input', placeholder: 'Department' %>
        <span class="icon is-small is-left">
          <i class="fa fa-user"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <%= f.label :designation, class: 'label' %>
      <p class="control has-icons-left">
        <%= f.text_field :designation, wrapper: false, class: 'input', placeholder: 'Designation' %>
        <span class="icon is-small is-left">
          <i class="fa fa-user"></i>
        </span>
      </p>
    </div>

    <div class="field is-grouped is-grouped-centered">
      <div class="control">
          <%= f.submit 'Submit', class: 'button is-primary' %>
      </div>
      <div class="control">
          <%= f.button 'Cancel', type: :reset, class: 'button is-light' %>
      </div>
    </div>

<% end %>
