<div class="columns is-centered">
  <div class="column is-4">
    <div class="card">
      <div class="card-content">

        <h2 class="title is-2">Log In</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

              <div class="field">
                <p class="control has-icons-left">
                  <%= f.email_field :email, wrapper: false, class: 'input', required: true, placeholder: 'Email address' %>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </p>
              </div>

              <div class="field">
                <p class="control has-icons-left">
                  <%= f.password_field :password, wrapper: false, class: 'input', required: true, placeholder: 'Password' %>
                  <span class="icon is-small is-left">
                    <i class="fa fa-unlock-alt"></i>
                  </span>
                </p>
              </div>

              <div class="field">
                <p class="control">
                  <% if devise_mapping.rememberable? %>
                    <%= f.check_box :remember_me, wrapper: false, class: 'checkbox', placeholder: 'Password', hint: ("remember me") %>
                  <% end %>Remember me
                </p>
              </div>

              <div class="field">
                <div class="control">
                    <%= f.submit 'Log in', class: 'button is-primary' %>
                </div>
              </div>

        <% end %><br>
        <%= link_to 'Forgot your password?', '/users/password/new' %>

      </div>
    </div>
  </div>
</div>
